.link {
    text-decoration: none;
    color: rgb(245, 206, 197);
    font-size: 20px;
    font-weight: 500;

    &:hover {
        cursor: pointer;
    }
}

p{
    width: auto;
    color: white;
}

.images {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    position: relative;
    margin: 25px 10px;
}

.portfolio-zone{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 88%;
    // vertical-align: middle;
    max-height: 90%;
    display: grid;
    grid-template-columns: auto auto;
}


    .passGen {
        // grid-column: 1 / span 2;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        p{
            padding-top: 50px;
        }
    }
    .teamGen {
        // grid-column: 2 / span 3;
        grid-row: 1;
        display: flex;
        flex-direction: row;
        p{
            padding-top: 30px;
        }
    }
    .quiz {
        // grid-column: 1 / span 2;
        grid-row: 2;
        display: flex;
        flex-direction: row;
    }
    .forcastApp {
        // grid-column: 2 / span 3;
        grid-row: 2;
        display: flex;
    }
